target
build
output

#idea files
*.iml
.idea
*.ipr
*.iws
out/

#jenv
.java-version

.DS_Store
.extract
.site-content/

#eclipse files
.project
.classpath
.settings/
*/src/main/java/META-INF/

#runtime files
components
execution

#others
*/dependency-reduced-pom.xml
